nbproject/
*/build/*
*/build.xml
*manifest.mf
*/nb-configuration.xml
*/target/*
*/dist/*
/Testing/examples/global_dependency/GlobalDependencies/build/
*mockito*.jar
/Testing/examples/global_dependency/Inheritance/build/